{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>SDS System</title>{% endblock %}
{% block css %}
<style>
    /* ให้ DataTables ใช้ขนาดคอลัมน์ที่เรากำหนดจริง */
    table.dataTable {
        table-layout: fixed !important;
        width: 100% !important;
    }
    /* ทำให้ข้อความตัดบรรทัด */
    table.dataTable td.text-wrap {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .dt-search {
        display: none !important;
    }

    /* ให้ label ภายใน Swal ชิดซ้าย */
    .swal2-html-container label, 
    .swal2-html-container .select2-selection__rendered{
        text-align: left !important;
        display: block;  /* กัน margin/padding แปลกๆ */
    }
    .swal2-html-container .invalid-feedback {
        text-align: left !important;
    }
    .btn-spinner {
        width: 1rem;
        height: 1rem;
        border: 2px solid rgba(255,255,255,.4);
        border-top-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: spin 0.7s linear infinite;
        vertical-align: middle;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }

    .placeholder-select:has(option[value=""]:checked) {
        color: #9e9e9e;
    }
    .placeholder-select option {
        color: #000;
    }


</style>
{% endblock %}
{% block breadcrumb %}
<div>
    <span class="fw-bold">SDS System</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">Search Panel</h3>
                    </div>  
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <input type="text" class="form-control" id="search_input" placeholder="Name, Cas Number">
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <select id="version" class="form-select placeholder-select">
                                    <option value="" disabled selected hidden>doc version</option>
                                    {% for sdsLang in lang %}
                                        <option value="{{ sdsLang.value }}">{{ sdsLang.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                            {% for sdsType in sdsTypes %}
                                <input type="checkbox" class="btn-check" id="{{ sdsType.label }}-{{ sdsType.value }}" name="checktype" autocomplete="off" value="{{ sdsType.value }}">
                                <label 
                                class="rounded-5 btn-sm btn {% if sdsType.value == 1 %}btn-outline-success{% elif sdsType.value == 2 %}btn-outline-danger{% elif sdsType.value == 3 %}btn-outline-info{% elif sdsType.value == 4 %}btn-outline-warning{% endif %}" 
                                for="{{ sdsType.label }}-{{ sdsType.value }}">{{ sdsType.label }}</label>
                            {% endfor %}
                            </div>
                            
                            <div class="col-sm-12 col-lg-2 text-end">
                                <button id="clear" type="button" class="btn text-decoration-underline">
                                    <span class="btn-spinner d-none"></span>
                                    <span>Clear All</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">SDS</h3>
                        <p class="text-sm mb-0">
                            Safety Data Sheet(SDS) EASY
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <button id="add" type="button" class="btn btn-primary">
                                <i class="bi bi-plus-circle"></i>
                                <span>Add SDS</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="sds_table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>SKT Name</th>
                                        <th>Chemical Name</th>
                                        <th>Cas No</th>
                                        <th>Doc Type</th>
                                        <th>Date Modified</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<div id="detail" class="card d-none">
    <div class="card-body row mb-3">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-12">
                    <label for="name" class="form-label text-dark-emphasis fw-bold">SKT Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                    <div class="invalid-feedback">Please input data.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="chemicalName" class="form-label text-dark-emphasis fw-bold">Chemical Name</label>
                    <input type="text" id="chemicalName" name="chemicalName" class="form-control" required>
                    <div class="invalid-feedback">Please input data.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="doc" class="form-label text-dark-emphasis fw-bold">Document</label>
                    <input type="file" id="doc" name="doc" accept="application/pdf" class="form-control" required>
                    <div class="invalid-feedback">Please input .pdf file.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="casno" class="form-label text-dark-emphasis fw-bold">Cas Number</label>
                    <input type="text" id="casno" name="casno" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="doctype" class="form-label text-dark-emphasis fw-bold">Document Type</label>
                    <select id="doctype" name="doctype" class="form-select" data-placeholder="select type" required>
                        <option></option>
                        {% for sdsType in sdsTypes %}
                            <option value="{{ sdsType.value }}">{{ sdsType.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Please select data.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="docversion" class="form-label fw-bold text-dark-emphasis">Document Version</label>
                    <select id="docversion" name="docversion" class="form-select" data-placeholder="select version" required>
                        <option value="" disabled selected hidden>doc version</option>
                        {% for sdsLang in lang %}
                            <option value="{{ sdsLang.value }}">{{ sdsLang.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Please select data.</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var table;
    $(document).ready(function(){
        ActiveMenu("sds");
        // $('#version').select2({
        //     theme: 'bootstrap-5',
        //     placeholder: 'doc version',
        //     allowClear: true,
        // });
        table = $('#sds_table').DataTable({
            ajax: {
                url: window.location.origin + "/sft/sds/api/filter/",
                type: "POST",
                contentType: "application/json",
                headers: { "X-CSRFToken": getCSRFToken() },
                data: function(d){
                    let selectedTypes = [];
                    $('input[name="checktype"]:checked').each(function() {
                        selectedTypes.push(parseInt($(this).val()));
                    });
                    return JSON.stringify({
                        searchInput: $('#search_input').val(),
                        sdsTypes: selectedTypes,
                        docVersion: $('#version').val(),
                    });
                },
                dataSrc: function(json) {
                    Loading(false);
                    if (!json.success) return [];
                    return json.data;
                }
            },
            scrollX: true,          // ป้องกันตารางบีบแน่นเกินไป
            autoWidth: false,       // ปิดการคำนวณความกว้างอัตโนมัติ
            columnDefs: [
                { width: "35%", targets: 0, className: "text-wrap align-middle" },   // SKT Name
                { width: "35%", targets: 1, className: "text-wrap align-middle" },   // Chemical Name
                { width: "23%", targets: 2, className: "text-left align-middle" }, // Cas No
                { width: "17%", targets: 3, className: "text-left align-middle" }, // Doc Type
                { width: "16%", targets: 4, className: "text-left align-middle" }, // Date Modified
                { width: "19%", targets: 5, className: "text-center align-middle" }  // Action
            ],
            columns: [
                { 
                    data: 'data',
                    render: function(data, type, row, meta) {
                        el =`<p class="mb-0">${data.name}</p><p class="mb-0">(Ver. ${data.docVersion.label})</p>`;
                        return el;
                    }
                },
                { 
                    data: 'data',
                    render: function(data, type, row, meta) {
                        el = `<p class="mb-0">${data.chemicalName ? data.chemicalName : '-'}</p>`;
                        return el;
                    }
                },
                { 
                    data: 'data',
                    render: function(data, type, row, meta) {
                        return data.casNo;
                    }
                },
                { 
                    data: 'data',
                    render: function(data, type, row, meta) {
                        // return data.type.label;
                        if(data.type.value == 1){
                            return `<span class="rounded-5 btn-sm btn btn-success">${data.type.label}</span>`;
                        }else if(data.type.value == 2){
                            return `<span class="rounded-5 btn-sm btn btn-danger">${data.type.label}</span>`;
                        }else if(data.type.value == 3){
                            return `<span class="rounded-5 btn-sm btn btn-info">${data.type.label}</span>`;
                        }else if(data.type.value == 4){
                            return `<span class="rounded-5 btn-sm btn btn-warning">${data.type.label}</span>`;
                        }
                        return '-';
                    }
                },
                { 
                    data: 'data',
                    render: function(data, type, row, meta) {
                        updateDate = data.updateDate;
                        createDate = data.createDate;
                        let showDate = updateDate ? updateDate : createDate;
                        if(showDate){
                            const date = new Date(showDate);
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const day = String(date.getDate()).padStart(2, '0');
                            return `${year}-${month}-${day}`;
                        }
                        return '-';
                    }
                },
                { data: 'data',
                  render: function(data, type, row) {
                    // el = `<button class="btn btn-sm btn-outline-primary">View</button>`;
                    el = `<a href="{{ mediaRoot }}${data.docPath}" target="_blank" class="btn btn-sm btn-outline-primary">View</a>`;
                    
                    if(row.canModify == true){
                        el += ` <button class="btn btn-sm btn-info edit-btn" data-id="${data.id}"><i class="bi bi-pencil-square"></i></button>`;
                        el += ` <button class="btn btn-sm btn-danger delete-btn" data-id="${data.id}"><i class="bi bi-trash"></i></button>`;
                    }
                    return el;
                  }
                }
            ]
        });
    });
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
    $("#add").click(function(e){
        e.preventDefault();
        Swal.fire({
            title: `<p class="display-6">SDS</p>`,
            html: $("#detail").html(),
            showCloseButton: true,
            showCancelButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Save',   // 🔹 เปลี่ยนข้อความปุ่ม
            customClass: {
                confirmButton: 'btn btn-primary me-2', // 🔹 ใช้ class bootstrap
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false, // 🔹 เพื่อให้ SweetAlert ไม่ override Bootstrap
            focusConfirm: false,
            width:'40rem',
            didOpen:() => {
                $('.swal2-container #doctype, .swal2-container #docversion').select2({
                    theme: 'bootstrap-5',
                    placeholder: $(this).data('placeholder'),
                    allowClear: true,
                    dropdownParent: $('.swal2-container') // Ensures dropdown appears above the modal
                });
            },
            preConfirm: () => {
                let valid = true;
                // const name = Swal.getPopup().querySelector('#name').value;
                const nameEl = $(".swal2-container #name"); // -- skt name
                const chemicalNameEl = $(".swal2-container #chemicalName"); // -- chemical name
                const casnoEl = $(".swal2-container #casno");
                const docEl = $(".swal2-container #doc");
                const doctypeEl = $(".swal2-container #doctype");
                const docversionEl = $(".swal2-container #docversion");

                nameEl.removeClass("is-invalid");
                if(!nameEl.val()){
                    nameEl.addClass("is-invalid");
                    valid = false;
                }
                chemicalNameEl.removeClass("is-invalid");
                if(!chemicalNameEl.val()){
                    chemicalNameEl.addClass("is-invalid");
                    valid = false;
                }
                docEl.removeClass("is-invalid");
                if(docEl[0].files.length == 0){
                    docEl.addClass("is-invalid");
                    valid = false;
                }
                if(docEl[0].files.length > 0){
                    const file = docEl[0].files[0];
                    const fileType = file.type;
                    if(fileType != "application/pdf"){
                        docEl.addClass("is-invalid");
                        valid = false;
                    }
                }
                doctypeEl.removeClass("is-invalid");
                if(!doctypeEl.val()){
                    doctypeEl.addClass("is-invalid");
                    valid = false;
                }
                docversionEl.removeClass("is-invalid");
                if(!docversionEl.val()){
                    docversionEl.addClass("is-invalid");
                    valid = false;
                }
                if(!valid){
                    return false;
                }
                return {
                    name: nameEl.val(),// -- skt name
                    chemicalName: chemicalNameEl.val(), // -- chemical name
                    casno: casnoEl.val() && casnoEl.val().trim() !== "" ? casnoEl.val() : "N/A",
                    doc: docEl[0].files[0],
                    doctype: doctypeEl.val(),
                    docversion: docversionEl.val()
                };
            },
        }).then(async (result) => {
            if(result.isConfirmed){
                Loading(true);
                const url = `${window.location.origin}${window.location.pathname}addsdsjson/`;
                const data = result.value;
                const formData = new FormData();
                formData.append('name', data.name);// -- skt name
                formData.append('chemicalName', data.chemicalName); // -- chemical name
                formData.append('casno', data.casno);
                formData.append('doc', data.doc);
                formData.append('doctype', data.doctype);
                formData.append('docversion', data.docversion);


                const settings = {
                    method: 'POST',
                    body: formData,
                    headers: { "X-CSRFToken": getCSRFToken() },
                };
                try {
                    const response = await fetch(url, settings);
                    if (!response.ok) PopMessage("Server error", "error");
                    const json = await response.json();
                    if (json.success) {
                        table.ajax.reload();
                        PopMessage("Success", "success");
                    } else {
                        PopMessage(json.message, "error");
                    }
                } catch (err) {
                    PopMessage("Network error", "error");
                } finally {
                    Loading(false);
                }
            }
        });
    });
    $('input[name="checktype"], #version').change(function() {
        // Loading(true);
        table.ajax.reload();
    });
    // Source - https://stackoverflow.com/a
    // Posted by davidkonrad, modified by community. See post 'Timeline' for change history
    // Retrieved 2026-01-09, License - CC BY-SA 3.0
    $("#search_input").on("keyup search input paste cut", function() {
        table.search(this.value).draw();
    });  

    $('#clear').click((e) =>{
        e.preventDefault();
        $('#search_input').val('').keyup();
        $('input[name="checktype"]').prop('checked', false);
        $('#version').val('');
        // Loading(true);
        table.ajax.reload();
        
    });
    
    $('#sds_table').on('preXhr.dt', function () {
        // -- ก่อนที่ DataTables จะส่ง Ajax request ออกไป
        setButtonLoading('#search', true);
        setButtonLoading('#clear', true);
    }).on('xhr.dt', function () {
        // -- หลังจากที่ DataTables ได้รับ response กลับมาแล้ว
        setButtonLoading('#search', false);
        setButtonLoading('#clear', false);
    });
    $('#sds_table').on('click', '.edit-btn',function(e){
        e.preventDefault();
        const id = $(this).data('id');
        Swal.fire({
            title: `<p class="display-6">SDS</p>`,
            html: $("#detail").html(),
            showCloseButton: true,
            showCancelButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Save',   // 🔹 เปลี่ยนข้อความปุ่ม
            customClass: {
                confirmButton: 'btn btn-primary me-2', // 🔹 ใช้ class bootstrap
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false, // 🔹 เพื่อให้ SweetAlert ไม่ override Bootstrap
            focusConfirm: false,
            width:'40rem',
            didOpen:async () => {
                const url = `${window.location.origin}/sft/sds/api/get/${id}/`;
                console.log(url);
                const settings = {
                    method: 'GET',
                    headers: { "X-CSRFToken": getCSRFToken() },
                };
            
                try {
                    const response = await fetch(url, settings);
                    if (!response.ok) {
                        PopMessage("Server error", "error");
                        return;
                    }
                    const json = await response.json();
                    if (json.success) {
                        const data = json.data;
                        console.log(data);
                        $('.swal2-container #name').val(data.name); // -- skt name
                        $('.swal2-container #chemicalName').val(data.chemicalName); // -- chemical name
                        $('.swal2-container #casno').val(data.casNo !== "N/A" ? data.casNo : '');
                        $('.swal2-container #doctype').val(data.type.value).trigger('change');
                        $('.swal2-container #docversion').val(data.docVersion.value).trigger('change');
                        
                    } else {
                        PopMessage(json.message, "error");
                    }
                } catch (err) {
                    PopMessage("Network error", "error");
                }
                $('.swal2-container #doctype, .swal2-container #docversion').select2({
                    theme: 'bootstrap-5',
                    placeholder: $(this).data('placeholder'),
                    allowClear: true,
                    dropdownParent: $('.swal2-container') // Ensures dropdown appears above the modal
                });
                
            },
            preConfirm: () => {
                let valid = true;
                const nameEl = $(".swal2-container #name"); // -- skt name
                const chemicalNameEl = $(".swal2-container #chemicalName"); // -- chemical name
                const casnoEl = $(".swal2-container #casno");
                const docEl = $(".swal2-container #doc");
                const doctypeEl = $(".swal2-container #doctype");
                const docversionEl = $(".swal2-container #docversion");

                nameEl.removeClass("is-invalid");
                if(!nameEl.val()){
                    nameEl.addClass("is-invalid");
                    valid = false;
                }
                chemicalNameEl.removeClass("is-invalid");
                if(!chemicalNameEl.val()){
                    chemicalNameEl.addClass("is-invalid");
                    valid = false;
                }
                docEl.removeClass("is-invalid");
                if(docEl[0].files.length > 0){
                    const file = docEl[0].files[0];
                    const fileType = file.type;
                    if(fileType != "application/pdf"){
                        docEl.addClass("is-invalid");
                        valid = false;
                    }
                }
                doctypeEl.removeClass("is-invalid");
                if(!doctypeEl.val()){
                    doctypeEl.addClass("is-invalid");
                    valid = false;
                }
                docversionEl.removeClass("is-invalid");
                if(!docversionEl.val()){
                    docversionEl.addClass("is-invalid");
                    valid = false;
                }
                if(!valid){
                    return false;
                }
                return {
                    id: id,
                    name: nameEl.val(),// -- skt name
                    chemicalName: chemicalNameEl.val(), // -- chemical name
                    casno: casnoEl.val() && casnoEl.val().trim() !== "" ? casnoEl.val() : "N/A",
                    doc: docEl[0].files.length > 0 ? docEl[0].files[0] : null,
                    doctype: doctypeEl.val(),
                    docversion: docversionEl.val()
                };
            },
        }).then(async (result) => {
            if(result.isConfirmed){
                Loading(true);
                const url = `${window.location.origin}${window.location.pathname}editsdsjson/`;
                const data = result.value;
                const formData = new FormData();
                formData.append('id', data.id);
                formData.append('name', data.name);// -- skt name
                formData.append('chemicalName', data.chemicalName); // -- chemical name
                formData.append('casno', data.casno);
                if(data.doc){
                    formData.append('doc', data.doc);
                }
                formData.append('doctype', data.doctype);
                formData.append('docversion', data.docversion);

                const settings = {
                    method: 'POST',
                    body: formData,
                    headers: { "X-CSRFToken": getCSRFToken() },
                };
                try {
                    const response = await fetch(url, settings);
                    if (!response.ok) PopMessage("Server error", "error");
                    const json = await response.json();
                    if (json.success) {
                        table.ajax.reload();
                        PopMessage("Success", "success");
                    } else {
                        PopMessage(json.message, "error");
                    }
                } catch (err) {
                    PopMessage("Network error", "error");
                } finally {
                    Loading(false);
                }
            }
        });
    });
    $('#sds_table').on('click', '.delete-btn',function(e){
        e.preventDefault();
        const id = $(this).data('id');
        Swal.fire({
            title: "Do you want to delete ?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#f97316",
            confirmButtonText: "Delete",
            cancelButtonText: "Cancel"
        }).then(async (result) => {
            if(result.isConfirmed){
                Loading(true);
                const url = `${window.location.origin}${window.location.pathname}deletesdsjson/${id}/`;
                const settings ={
                    method: 'GET',
                    headers: { "X-CSRFToken": getCSRFToken() },
                };
                try{
                    const response = await fetch(url, settings);
                    if(!response.ok) PopMessage("Server error", "error");
                    const json = await response.json();
                    if(json.success){
                        table.ajax.reload();
                        PopMessage("Success", "success");
                    }else{
                        PopMessage(json.message, "error");
                    }
                }catch(err){
                    PopMessage("Network error", "error");
                }finally{
                    Loading(false);
                }
            }
        });
    });

    function setButtonLoading(btn, loading) {
        const $btn = $(btn);
        $btn.prop('disabled', loading);
        $btn.find('.btn-text').toggleClass('d-none', loading);
        $btn.find('.btn-spinner').toggleClass('d-none', !loading);
    }

</script>
{% endblock %}