{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Register User</title>{% endblock %}
{% block css %}
<!-- Tempus Dominus Styles -->
<link rel="stylesheet" href="{% static 'css/tempus-dominus.css' %}" />
{% endblock %}
{% block breadcrumb %}
<div>
    <span>User /</span><span class="fw-bold">Register User</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 col-lg-9 mx-auto">
        <div class="card">
            <form method="post" class="card-body mb-3" novalidate>
                <h3 class="display-6 fw-bold">Register User</h3>
                <p class="text-sm">Register User Login account</p>
                {% csrf_token %}
                <input type="hidden" name="usid" value="{{ user.id }}" />
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <span class="display-6">{{ user.fNameEN }}</span>
                        <span class="display-6 ms-2">{{ user.lNameEN }}</span>
                        <span class="display-6 ms-2">({{ user.code }})</span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 col-sm-12">
                        <label for="username" class="form-label fw-bold text-dark-emphasis">User Name</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required/>
                        <div class="invalid-feedback">Please input data</div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="password" class="form-label fw-bold text-dark-emphasis">Password</label>
                        <input type="text" id="password" name="password" class="form-control" placeholder="Password" required/>
                        <div class="invalid-feedback">Please input data</div>
                    </div>
                </div>
                <div class="row mb-3 float-end">
                    <div class="col-12">
                        <a href="{% url 'indexUser' %}" class="btn btn-light">
                            <span>Cancel</span>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <span>Save</span>
                        </button>
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-12 text-center">
                        <span class="display-6">{{ user.email }}</span>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- Popperjs -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Tempus Dominus JavaScript -->
<script src="{% static 'js/tempus-dominus.js' %}"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            document.querySelector('form').addEventListener('submit', function (event) {
                Loading(true);
                if (!this.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    Loading(false);
                }
                this.classList.add('was-validated');
                
            }, false);
        })();
        $(document).ready(()=>{
            ActiveMenu("user");
        });
    </script>
{% endblock %}