{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Setting User</title>{% endblock %}
{% block css %}
    
    <style>
        /* แสดงขอบสีแดงสำหรับ validation error */
        .is-invalid {
            border-color: #dc3545 !important;
        }

    </style>
{% endblock %}
{% block breadcrumb %}
<div>
    <span>User / </span><span class="fw-bold">Setting</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="card">
            <form id="fmAddUser"method="post" class="card-body mb-3 needs-validation" novalidate>
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ userSetting.id }}"/>
                <h3 class="display-6 fw-bold">Setting User</h3>
                <p class="text-sm">Edit data setting user</p>
                <div class="row mb-3">
                    <div class="col-lg-8 col-sm-12">
                        <label for="user" class="form-label fw-bold text-dark-emphasis">User</label>
                        <select id="user" name="user" class="form-select" disabled required>
                            <option value=""></option>
                            {% for user in users %}
                                {% if user.id == userSetting.user.id %}
                                <option value="{{ user.id }}" selected>{{ user.fNameEN }} {{ user.lNameEN }} ({{ user.code }})</option>
                                {% else %}
                                <option value="{{ user.id }}">{{ user.fNameEN }} {{ user.lNameEN }} ({{ user.code }})</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select data</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="mb-2">
                            <labe class="form-label fw-bold text-dark-emphasis">Menu</labe>
                        </div>
                        {% for menu in menus %}
                        <div class="form-check mb-2">
                            <input class="form-check-input menu" type="checkbox" name="menus" value="{{ menu.id }}" id="{{ menu.id }}"
                            {% if menu.id in menu_ids %}
                            checked
                            {% endif %}>
                            <label class="form-check-label menu-label" for="{{ menu.id }}">{{ menu.name }}</label>
                        </div>
                        {% endfor %}
                        <div class="invalid-feedback" id="menu-error" style="display: none;">Please select data</div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="mb-2">
                            <labe class="form-label fw-bold text-dark-emphasis">Is Admin</labe>
                        </div>
                        <div class="form-check">
                            {% if userSetting.isAdmin %}
                            <input class="form-check-input isadmin" type="checkbox" name="isadmin" id="isadmin" checked>
                            {% else %}
                            <input class="form-check-input isadmin" type="checkbox" name="isadmin" id="isadmin">
                            {% endif %}
                            <label class="form-check-label" for="isadmin">Is Admin</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row float-end">
                        <div class="col-12">
                            <a href="{% url 'indexSettingUser' %}" class="btn btn-light">Cancel</a>
                            <button id="btnSave" type="submit" class="btn btn-primary ms-2">Submit</button>
                        </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    
    <script type="text/javascript">
        (function () {
            'use strict';
            const form = document.querySelector('form');
            const menuError = document.getElementById('menu-error');
            
            form.addEventListener('submit', function (event) {
                const checkedMenus = document.querySelectorAll('input[name="menus"]:checked');
                
                let isValid = true;
                // ถ้าไม่มี checkbox ใดถูกเลือก
                if (checkedMenus.length === 0) {
                    event.preventDefault();
                    event.stopPropagation();
                    Loading(false);

                    // แสดง error
                    menuError.style.display = 'block';

                    // เพิ่ม is-invalid ไปที่ checkbox แรก (หรือทั้งหมดก็ได้)
                    document.querySelectorAll('input[name="menus"]').forEach(cb => {
                        cb.classList.add('is-invalid');
                        console.log("test");
                    });
                    $(".menu-label").each(function(){
                        $(this).addClass("text-danger");
                    });
                    isValid = false;
                } else {
                    // ซ่อน error และลบ is-invalid ถ้ามีการเลือกแล้ว
                    menuError.style.display = 'none';
                    document.querySelectorAll('input[name="menus"]').forEach(cb => {
                        cb.classList.remove('is-invalid');
                    });
                    $(".menu-label").each(function(){
                        $(this).addClass("text-success");
                    });
                }
                Loading(true);
                if (!form.checkValidity() || !isValid) {
                    event.preventDefault();
                    event.stopPropagation();
                    Loading(false);
                }
                form.classList.add('was-validated');
            }, false);
        })();
        $(document).ready(()=>{
            ActiveMenu("settinguser");
            $('.form-select').select2({
                theme: 'bootstrap-5',
            });
        });
        $('.menu').change(function(){
            if($(this).is(":checked")){
                const parent = $(this);
                $(".menu-label").each(function(){
                    if($(this).hasClass("text-danger")){
                        $(this).removeClass("text-danger");
                        $(this).addClass("text-success");
                    }
                });
                $("#menu-error").css("display", "none");
                $('.menu').each(function(){
                if($(this).hasClass('is-invalid')){
                        $(this).removeClass('is-invalid');
                    }
                });
            }else{
                // -- ถ้า menu ไม่ถูกเลือก เอา checkbox isadmin ออก
                if($('.menu').length != $('.menu:checked').length){
                    $("#isadmin").prop("checked", false).change();
                }
            }
        });

        // -- ถ้าเป็น admin ให้ checked all menu
        $("#isadmin").change(function(){
            if($(this).is(":checked")){
                $('.menu').each(function(){
                    $(this).prop("checked",true).change();
                });
            }
        });
    </script>
{% endblock %}