{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Setting User</title>{% endblock %}
{% block css %}
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<div>
    <span>User / </span><span class="fw-bold">Setting</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List Setting User</h3>
                        <p class="text-sm mb-0">
                            List of user and menu system
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <button type="button" id="addAll" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i>
                                <span>Map ALL User</span>
                            </button>
                            <button id="addUser" type="button" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Map User</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tb" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee</th>
                                <th>Menu</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Chanon Anekphong (20230)</td>
                                <td>
                                    <ul>
                                        <li>User (isAdmin)</li>
                                        <li>Setting</li>
                                    </ul>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-light">
                                            <i class="bi bi-eye-fill"></i>
                                        </button>
                                        <button type="button" class="btn btn-info">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>TEST Anekphong (20233)</td>
                                <td>
                                    <ul>
                                        <li>User (isAdmin)</li>
                                    </ul>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-light">
                                            <i class="bi bi-eye-fill"></i>
                                        </button>
                                        <button type="button" class="btn btn-info">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fmAddUser" class="d-none">
    <form method="post">
        <div class="row mb-3">
            <div class="col-md-12 col-sm-12">
                <div class="d-lg-flex">
                    <div class="ms-auto my-auto mt-4 mt-lg-0">
                        <div class="ms-auto my-auto">
                            <button id="btnAddU" type="button" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add User</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="tb2" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee</th>
                                <th>Menu</th>
                                <th>IS Admin</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="fmAddAll" class="d-none">
    <div class="row mb-3">
        <div class="col-auto">
            <labe>Employee : </labe>
        </div>
        <div class="col-auto">
            <label>ALL SKT</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
            <labe>Menu : </labe>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="d-flex flex-column align-items-start">
                
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="user">
                    <label class="form-check-label" for="user">
                      User
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="setting">
                    <label class="form-check-label" for="setting">
                      Setting
                    </label>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("settinguser");
            $('#tb').DataTable();
            $('#addUser').click(function(){
                const fromHtml = $('#fmAddUser').clone().show().html();
                
                Swal.fire({
                    title: 'Add User',
                    html: fromHtml,
                    showCloseButton: true,
                    showCancelButton: true,
                    confirmButtonText : 'Save',
                    cancelButtonText: 'Cancel',
                    confirmButtonColor: "#f97316",
                    width:'800px',
                    didOpen: ()=>{
                        $('.swal2-html-container').find('#btnAddU').on('click', function(){
                            CreateUserRow();
                        });
                    },
                });
            });
            $('#addAll').click(function(e){
                e.preventDefault();
                const fromHtml = $('#fmAddAll').clone().show().html();
                Swal.fire({
                    title: 'Add All User',
                    html: fromHtml,
                    showCloseButton: true,
                    showCancelButton: true,
                    confirmButtonText : 'Save',
                    cancelButtonText: 'Cancel',
                    confirmButtonColor: "#f97316",
                    // width:'800px',
                    // didOpen: ()=>{
                    //     $('.swal2-html-container').find('#btnAddU').on('click', function(){
                    //         CreateUserRow();
                    //     });
                    // },
                });
            });
        });
        function CreateUserRow(){
            console.log($('.swal2-html-container').find('#tb2').find('tbody').find('tr').length);
            const tb2 = $('.swal2-html-container').find('#tb2');
            const tr = $("<tr>");
            const td = $("<td>");
            const select = $("<select>", {class: "form-select"});
            const option = $("<option>");

            // -- index td
            const tdIndex = td.clone().append($('.swal2-html-container').find('#tb2').find('tbody').find('tr').length + 1);

            // -- employee td
            const tdEmployee = td.clone();
            const selectEmployee = select.clone();
            const chaku = option.clone();
            chaku.val("1");
            chaku.text("Chanon Anekphong");
            const chaku2 = option.clone();
            chaku2.val("2");
            chaku2.text("TEST Anekphong");
            selectEmployee.append(chaku);
            selectEmployee.append(chaku2);
            tdEmployee.append(selectEmployee);

            // -- menu td
            const tdMenu = td.clone();
            const divMenu = $("<div>", {class: "form-check form-check-inline"});
            const checkBox = $("<input>", {type: "checkbox", class: "form-check-input"});
            const label = $("<label>", {class: "form-check-label"});
            const user = divMenu.clone();
            const setting = divMenu.clone();
            checkUser = checkBox.clone().val("user");
            labelUser = label.clone().text("User");
            checkSetting = checkBox.clone().val("setting");
            labelSetting = label.clone().text("Setting");
            user.append(checkUser);
            user.append(labelUser);
            setting.append(checkSetting);
            setting.append(labelSetting);
            tdMenu.append(user);
            tdMenu.append(setting);

            // -- is admin td
            const tdIsAdmin = td.clone();
            const divIsAdmin = $("<div>", {class: "form-check form-check-inline"});
            const labelIsAdmin = $("<label>", {class: "form-check-label"}).text('Is Admin');
            const checkIsAdmin = $("<input>", {type: "checkbox", class: "form-check-input"}).val("1");
            divIsAdmin.append(checkIsAdmin);
            divIsAdmin.append(labelIsAdmin);
            tdIsAdmin.append(divIsAdmin);

            // -- remove td
            const tdRemove = td.clone();
            const btnRemove = $("<button>", {type: "button", class: "btn btn-danger"}).append($("<i class='bi bi-trash'></i>"));
            tdRemove.append(btnRemove);

            // -- append
            tr.append(tdIndex);
            tr.append(tdEmployee);
            tr.append(tdMenu);
            tr.append(tdIsAdmin);
            tr.append(tdRemove);

            tb2.append(tr);
        }
    </script>
{% endblock %}