{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Setting User</title>{% endblock %}
{% block css %}
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<div>
    <span>User / </span><span class="fw-bold">Setting</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List Setting User</h3>
                        <p class="text-sm mb-0">
                            List of user and menu system
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <button type="button" id="addAll" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i>
                                <span>Map ALL User</span>
                            </button>
                            <button id="addUser" type="button" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Map User</span>
                            </button>
                            <a href="{% url 'addSettingUser' %}" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add Setting</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tb" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee</th>
                                <th>Menu</th>
                                <th>Admin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in userSettings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.user.fNameEN }} {{ user.user.lNameEN }} ({{ user.user.code }})</td>
                                <td>
                                    {% for menu in user.menus %}
                                    <p>- {{ menu.name }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if user.isAdmin %}
                                    <span class="badge text-bg-success text-white">Admin</span>
                                    {% else %}
                                    <span class="badge text-bg-secondary text-white">User</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <a href="{% url 'editSettingUser' user.id %}" class="btn btn-info me-2">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fmAddAll" class="d-none">
    <div class="row mb-3">
        <div class="col-auto">
            <labe>Employee : </labe>
        </div>
        <div class="col-auto">
            <label>ALL SKT</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
            <labe>Menu : </labe>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="d-flex flex-column align-items-start">
                
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="user">
                    <label class="form-check-label" for="user">
                      User
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="setting">
                    <label class="form-check-label" for="setting">
                      Setting
                    </label>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
        <script type="text/javascript">
            $(document).ready(function(){
                const mssTag = "{{message.tags}}";
                const mssMsg = "{{message}}";
                PopMessage(mssMsg, mssTag);
            });
        </script>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("settinguser");
            $('#tb').DataTable();
            
            $('#addAll').click(function(e){
                e.preventDefault();
                const fromHtml = $('#fmAddAll').clone().show().html();
                Swal.fire({
                    title: 'Add All User',
                    html: fromHtml,
                    showCloseButton: true,
                    showCancelButton: true,
                    confirmButtonText : 'Save',
                    cancelButtonText: 'Cancel',
                    confirmButtonColor: "#f97316",
                });
            });
        });
        
    </script>
{% endblock %}