{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>User Edit</title>{% endblock %}
{% block css %}
<!-- Tempus Dominus Styles -->
<link rel="stylesheet" href="{% static 'css/tempus-dominus.css' %}" />
{% endblock %}
{% block breadcrumb %}
<div>
    <span>User /</span><span class="fw-bold">Edit User</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 col-lg-9 mx-auto">
        <div class="card">
            <form method="post" class="card-body mb-3" novalidate>
                <h3 class="display-6 fw-bold">Edit User</h3>
                <p class="text-sm">Edit data User</p>
                {% csrf_token %}
                <input type="hidden" name="usid" value="{{ user.id }}" />
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="fnameth" class="form-label fw-bold text-dark-emphasis">First Name (Thai)</label>
                            <input type="text" class="form-control" id="fnameth" name="fnameth" value="{{ user.fNameTH|default:'' }}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="lnameth" class="form-label fw-bold text-dark-emphasis">Last Name (Thai)</label>
                            <input type="text" class="form-control" id="lnameth" name="lnameth" value="{{ user.lNameTH|default:'' }}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="fnameeng" class="form-label fw-bold text-dark-emphasis">First Name (English)</label>
                            <input type="text" class="form-control" id="fnameeng" name="fnameeng" value="{{ user.fNameEN }}" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="lnameeng" class="form-label fw-bold text-dark-emphasis">Last Name (English)</label>
                            <input type="text" class="form-control" id="lnameeng" name="lnameeng" value="{{ user.lNameEN }}" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 co-sm-12">
                            <label for="nickname" class="form-label fw-bold text-dark-emphasis">Nickname</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ user.nickName|default:'' }}" />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label for="code" class="form-label fw-bold text-dark-emphasis">Employee Code</label>
                            <input type="text" class="form-control" id="code" name="code" value="{{ user.code|default:'' }}" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label for="nation" class="form-label fw-bold text-dark-emphasis">Naition</label>
                            <input type="text" id="nation" name="nation" class="form-control" value="{{ user.nation|default:'' }}" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="birthday" class="form-label fw-bold text-dark-emphasis">Birth Date</label>
                            <input type="text" id="birthday" name="birthday" class="form-control" />
                            <div class="invalid-feedback">Please input date format (DD/MM/YYYY)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <label for="email" class="form-label fw-bold text-dark-emphasis">Email</label>
                            <input type="email" id="email" name="email" class="form-control" value="{{ user.email|default:'' }}" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="phone" class="form-label fw-bold text-dark-emphasis">Phone</label>
                            <input type="text" id="phone" name="phone" class="form-control" value="{{ user.phone|default:'' }}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 col-sm-12">
                            <label for="sdate" class="form-label fw-bold text-dark-emphasis">Start Job Date</label>
                            <input type="text" id="sdate" name="sdate" class="form-control" />
                            <div class="invalid-feedback">Please input date format (DD/MM/YYYY)</div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-8 col-sm-12">
                            <label for="address" class="form-label fw-bold text-dark-emphasis">Address</label>
                            <textarea id="address" name="address" class="form-control" style="height: 100px;">{{ user.address }}</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8 col-sm-12">
                            <label for="note" class="form-label fw-bold text-dark-emphasis">Note</label>
                            <textarea id="note" name="note" class="form-control" style="height: 100px;">{{ user.note }}</textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12">
                            <label for="status" class="form-label fw-bold text-dark-emphasis">Status</label>
                            <select id="status" name="status" class="form-select">
                                {% for us in userStatus %}
                                    {% if us.id == user.status.value %}
                                        <option value="{{ us.id }}" selected>{{ us.name }}</option>
                                    {% else %}
                                        <option value="{{ us.id }}">{{ us.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="form-check">
                                {% if user.isAdmin == True %}
                                <input type="checkbox" id="isadmin" name="isadmin" class="form-check-input" checked />
                                {% else %}
                                <input type="checkbox" id="isadmin" name="isadmin" class="form-check-input" />
                                {% endif %}
                                <label for="isadmin" class="form-check-label fw-bold text-dark-emphasis">Is Admin</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mt-6">
                        <div class="col-12">
                            <div class="d-flex">
                                <div>
                                    <p class="fw-bold h4 p-0 m-0">Roles User</p>
                                </div>
                                <div class="ms-auto my-auto mt-lg-0">
                                    <button id="addRole" type="button" class="btn btn-success">
                                        <i class="fa-solid fa-plus"></i>
                                        <span>Add Role</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-active table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Organization</th>
                                            <th>Position</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row float-end">
                        <div class="col-12">
                            <a href="{% url 'indexUser' %}" class="btn btn-light">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- Popperjs -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Tempus Dominus JavaScript -->
<script src="{% static 'js/tempus-dominus.js' %}"></script>
<script type="text/javascript">
    // var pos = null;
    // var orgs = null;
    (function () {
        'use strict';
        document.querySelector('form').addEventListener('submit', function (event) {
            Loading(true);
            if (!this.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                Loading(false);
            }
            this.classList.add('was-validated');
        }, false);
    })();
    $(document).ready(async ()=>{
        ActiveMenu("user");
        Loading(true);
        var birthDay = initialDatePk(document.getElementById("birthday"));
        var startDate = initialDatePk(document.getElementById("sdate"));
        let birth = "{{ user.birthDay|date:'c' }}";// e.g. 1992-09-21T00:00:00+00:00
        let sDate = "{{ user.startJobDate|date:'c' }}";
        
        if(birth){
            birthDay.dates.setValue(tempusDominus.DateTime.convert(new Date(birth)));
        }
        if(sDate){
            startDate.dates.setValue(tempusDominus.DateTime.convert(new Date(sDate)));
        }
        let pos = await getAPIData(window.location.origin + "/pos/api/list/?isactive=true&isdelete=false");
        let orgs = await getAPIData(window.location.origin + "/org/api/list/?isactive=true&isdelete=false");
        
        const userRolesJson = JSON.parse(`{{userRolesJson|safe}}`);
        if(userRolesJson && userRolesJson.length > 0){
            $.each(userRolesJson, (index, value)=>{
                if(value.isDelete == false){
                    console.log(value);
                    createTableRole(pos, orgs, value.posId, value.orgId);
                    $('.form-select').select2({
                        theme: 'bootstrap-5'
                    });
                }
            });
        }

        Loading(false);
    });
    $("#addRole").click(async (e) => {
        e.preventDefault();
        Loading(true);
        let pos = await getAPIData(window.location.origin + "/pos/api/list/?isactive=true&isdelete=false");
        let orgs = await getAPIData(window.location.origin + "/org/api/list/?isactive=true&isdelete=false");
        if(pos != null && orgs != null){
            createTableRole(pos, orgs);
            $('.form-select').select2({
                theme: 'bootstrap-5'
            });
        }
        Loading(false);
    });
    $(document).on("click", ".delete", function(e) {
        $(e.currentTarget).parent('td').parent("tr").remove();
    });
</script>
{% endblock %}