{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Immigration User</title>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tempus-dominus.css' %}" />
    <style>
        /* ให้ label ภายใน Swal ชิดซ้าย */
        .swal2-html-container label {
            text-align: left !important;
            display: block;  /* กัน margin/padding แปลกๆ */
        }
    </style>

{% endblock %}
{% block breadcrumb %}
<div>
    <span>User / </span><span class="fw-bold">Immigration</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List Immigration User</h3>
                        <p class="text-sm mb-0">
                            List of Immigration
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <button id="add" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add user</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tb" class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>User</th>
                                <th>Input Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="detail" class="card d-none">
    <div class="card-body row mb-3">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    {% csrf_token %}
                    <label for="user" class="form-label">User</label>
                    <select class="form-select" name="uesr" id="user" required>
                        <option value="0">Not Select</option>
                        {% for user in users %}
                        <option value="{{user.id}}">({{user.code}}) {{user.fNameEN}} {{user.lNameEN}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Please select a user.
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="inputdate" class="form-label">Input Date</label>
                    <input type="text" class="form-control" id="inputdate" name="inputdate" required>
                    <div class="invalid-feedback">
                        Please select a last date.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/tempus-dominus.js' %}"></script>
    <script type="text/javascript">
        var table;
        var listImm;
        $(document).ready(()=>{
            ActiveMenu("immigration");
            table = $('#tb').DataTable({
                ajax: {
                    url: "{% url 'listImmigrationJson' %}",
                    type: "GET",
                    // headers: { "X-CSRFToken": getCSRFToken() },
                    dataSrc: function(json) {
                        Loading(false);
                        if (!json.success) return [];
                        listImm = json.data;
                        return json.data;
                    }
                },
                columns:[
                    { data: "id", render: (data, type, row, meta) => meta.row + 1 }, // ลำดับ
                    { data: "refUser.code" }, // โค้ด user
                    { 
                        data: "refUser", 
                        render: (data, type, row) => `${data.fNameEN} ${data.lNameEN}` 
                    }, // ชื่อ-นามสกุล
                    { 
                        data: "inputDate",
                        render: (data) => data ? moment(data).format("YYYY-MM-DD") : "-"
                    }, // input Date
                    { 
                        data: "dueDate",
                        render: (data) => data ? moment(data).format("YYYY-MM-DD") : "-"
                    },
                    { 
                        data: "status",
                        render: (data) => {
                            if(data.name == "Normal"){
                                return `<span class="badge bg-success">${data.name}</span>`;
                            }else if(data.name == "Befor15"){
                                return `<span class="badge bg-warning">Expired in 15 day</span>`;
                            }else if(data.name == "Befor7"){
                                return `<span class="badge bg-primary">Expired in 7 day</span>`;
                            }else{
                                return `<span class="badge bg-danger">${data.name}</span>`;
                            }
                        }
                     }, // Status
                     
                    { 
                        data: null,
                        render: (data, type, row) => `
                            <button class="btn btn-sm btn-info me-1" onclick="editImmigration('${row.id}')"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-sm btn-danger" onclick="deleteImmigration('${row.id}')"><i class="bi bi-trash"></i></button>
                        `
                    } // Action
                
                ]
            });
            
        });
        $("#add").click(function(e){
            e.preventDefault();
            Swal.fire({
                title: `<p class="display-6">Immigration User</p>`,
                html: $("#detail").html(),
                showCloseButton: true,
                showCancelButton: true,
                showConfirmButton: true,
                confirmButtonText: 'Save',   // 🔹 เปลี่ยนข้อความปุ่ม
                customClass: {
                    confirmButton: 'btn btn-primary me-2', // 🔹 ใช้ class bootstrap
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false, // 🔹 เพื่อให้ SweetAlert ไม่ override Bootstrap
                focusConfirm: false,
                width:'50rem',
                didOpen: () => {
                    $('.form-select').select2({
                        theme: 'bootstrap-5',
                        dropdownParent: $('.swal2-container') // Ensures dropdown appears above the modal
                    });
                    console.log(listImm);
                    $.each(listImm, function(index, value){
                        console.log(value);
                        $('.swal2-container #user option[value="' + value.refUser.id + '"]').attr('disabled', 'disabled');
                    });
                    // ✅ init datetime picker (Tempus Dominus)
                    const el = document.querySelector('.swal2-container #inputdate');
                    initialDatePk(el);
                },
                preConfirm: () => {
                    let userEl = document.querySelector('.swal2-container #user');
                    let inputdateEl = document.querySelector('.swal2-container #inputdate');

                    let valid = true;

                    // reset state
                    userEl.classList.remove("is-invalid");
                    inputdateEl.classList.remove("is-invalid");

                    // validate user
                    if (!userEl.value || userEl.value === "0") {
                        userEl.classList.add("is-invalid");
                        valid = false;
                    }

                    // validate dudeDate
                    if (!inputdateEl.value) {
                        inputdateEl.classList.add("is-invalid");
                        valid = false;
                    }

                    if (!valid) {
                        return false; // ❌ block submit
                    }

                    return {
                        user: userEl.value,
                        inputDate: inputdateEl.value
                    };
                },
            }).then(async (result) => {
                if (result.isConfirmed) {
                    Loading(true);
                    const settings = {
                        url: window.location.origin + window.location.pathname + "addjson/",
                        method: "POST",
                        contentType: "application/json",
                        headers: { "X-CSRFToken": getCSRFToken() },
                        data: JSON.stringify({
                            user: result.value.user,
                            inputDate: result.value.inputDate
                        })
                    }
                    await $.ajax(settings).done((response) => {
                        
                        Loading(false);
                        if(response.success == true){
                            PopMessage("Success", "success");
                            table.ajax.reload();
                        }else{
                            PopMessage(response.message, "error");
                        }
                    }).fail((xjr, status, error) => {
                        Loading(false);
                        PopMessage(error, "error");
                    });
                }
            });
        });
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }
        const editImmigration = async (id) => {
            Loading(true);
            const getData = await getImmigration(id);
            if(getData){
                console.log(getData);
                Loading(false);
                Swal.fire({
                    title: `<p class="display-6">Immigration User</p>`,
                    html: $("#detail").html(),
                    showCloseButton: true,
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Save',   // 🔹 เปลี่ยนข้อความปุ่ม
                    customClass: {
                        confirmButton: 'btn btn-primary me-2', // 🔹 ใช้ class bootstrap
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false, // 🔹 เพื่อให้ SweetAlert ไม่ override Bootstrap
                    focusConfirm: false,
                    width:'50rem',
                    didOpen: () => {
                        $('.form-select').select2({
                            theme: 'bootstrap-5',
                            dropdownParent: $('.swal2-container') // Ensures dropdown appears above the modal
                        });
                        // ✅ init datetime picker (Tempus Dominus)
                        const el = document.querySelector('.swal2-container #inputdate');
                        let inputDatePK = initialDatePk(el);
                        $('.swal2-container #user').val(getData.refUser.id).change();
                        $('.swal2-container #user').attr("disabled", "disabled");
                        inputDatePK.dates.setValue(tempusDominus.DateTime.convert(new Date(getData.inputDate)));

                    },
                    preConfirm: () => {
                        let inputdateEl = document.querySelector('.swal2-container #inputdate');

                        let valid = true;

                        // reset state
                        inputdateEl.classList.remove("is-invalid");

                        // validate dudeDate
                        if (!inputdateEl.value) {
                            inputdateEl.classList.add("is-invalid");
                            valid = false;
                        }

                        if (!valid) {
                            return false; // ❌ block submit
                        }

                        return {
                            // user: getData.refUser.id,
                            inputDate: inputdateEl.value,
                            immId: getData.id
                        };
                    },
                }).then(async (result) => {
                    if(result.isConfirmed){
                        Loading(true);
                        const settings = {
                            url: window.location.origin + window.location.pathname + "editjson/",
                            method: "POST",
                            contentType: "application/json",
                            headers: { "X-CSRFToken": getCSRFToken() },
                            data: JSON.stringify({
                                // user: result.value.user,
                                inputDate: result.value.inputDate,
                                immId: result.value.immId
                            }),
                        };
                        await $.ajax(settings).done((response) => {
                            Loading(false);
                            if(response.success == true){
                                PopMessage("Success", "success");
                                table.ajax.reload();
                            }else{
                                PopMessage(response.message, "error");
                            }
                        }).fail((xjr, status, error) => {
                            Loading(false);
                            PopMessage(error, "error");
                        });
                    }
                });
            }
            
        };
        const deleteImmigration = (id) => {
            // Loading(true);
            Swal.fire({
                title: "Do you want to delete ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f97316",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if(result.isConfirmed){
                    Loading(true);
                    const settings = {
                        url: window.location.origin + window.location.pathname + "deletejson/" + id,
                        method: "GET",
                    }
                    $.ajax(settings).done((response) => {
                        Loading(false);
                        if(response.success == true){
                            PopMessage("Delete success", "success");
                        }else{
                            PopMessage(response.message, "error");
                        }
                        table.ajax.reload();
                    }).fail((xjr, status, error) => {
                        Loading(false);
                        PopMessage(error, "error");
                        table.ajax.reload();
                    });
                }
            });
        };
        const getImmigration = async (id) => {
            let result;
            const settings = {
                url: window.location.origin + window.location.pathname + "api/getjson/" + id,
                method: "GET",
            };
            await $.ajax(settings).done(function (response) {
                
                if (response.success == true) {
                    result = response.data;
                }
            }).fail(function (xjr, status, error) {
                console.log(error);
                Loading(false);
                PopMessage(error, "error");
            });
            return result;
        };
        const mailImmigration = (id) => {
            window.location.href = window.location.origin + window.location.pathname + "send/" + id;
        }

    </script>
{% endblock %}