{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Welcome Board index</title>{% endblock %}
{% block css %}
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<div>
    <span class="fw-bold">Welcome Board Guest</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List welcome Board</h3>
                        <p class="text-sm mb-0">
                            List of welcome board Guest
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <a href="{% url 'addGuestWelcomeBoard' %}" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add Welcome Board</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tb" class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Images</th>
                                <th>By SKT Employee</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for guest in welcomeGuests %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ guest.title }}</td>
                                <td>
                                    <a href="#" class="g-img" data-img="{{ mediaRoot }}{{ guest.path }}">
                                        <img src="{{ mediaRoot }}{{ guest.path }}" alt="..." class="img-fluid img-thumbnail w-50" />
                                    </a>
                                    
                                </td>
                                {% if guest.updateBy %}
                                <td>{{ guest.updateBy.fullNameEN }}</td>
                                {% else %}
                                <td>{{ guest.createBy.fullNameEN }}</td>
                                {% endif %}
                                <td>{{ guest.sDate|date:"d-m-Y H:i" }}</td>
                                <td>{{ guest.eDate|date:"d-m-Y H:i" }}</td>
                                <td>
                                    {% if guest.status.value == 1 %}
                                    <span class="badge text-bg-warning fs-4">{{ guest.status.name }}</span>
                                    {% elif guest.status.value == 2 %}
                                    <span class="badge text-bg-success text-white fs-4">{{ guest.status.name }}</span>
                                    {% else %}
                                    <span class="badge text-bg-secondary fs-4">{{ guest.status.name }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        {% if guest.status.value != 3 %}
                                        <a href="{% url 'editGuestWelcomeBoard' guest.id %}" class="btn btn-info">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        {% endif %}
                                        <button type="button" class="btn btn-danger delete" data-wgid="{{guest.id}}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
        <script type="text/javascript">
            $(document).ready(function(){
                const mssTag = "{{message.tags}}";
                const mssMsg = "{{message}}";
                PopMessage(mssMsg, mssTag);
            });
        </script>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
        let cropper;
        $(document).ready(()=>{
            ActiveMenu("welguest");
            
            $('#tb').DataTable({
                columnDefs: [
                    { width: '5%', targets: 0 },
                    { width: '20%', targets: 1 },
                    { width: '20%', targets: 2 },
                    { width: '10%', targets: 3 },
                    { width: '10%', targets: 4 },
                    { width: '10%', targets: 5 },
                    { width: '5%', targets: 6 },
                    { width: '10%', targets: 7 },
                ]
            });

            let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            let socket = new WebSocket(ws_scheme + '://' + window.location.host + "/ws/wb/welcome/");

            socket.onopen = function () {
                console.log("✅ Connected to WebSocket");
                socket.send(JSON.stringify({ action: "all" }));  // ✅ สำคัญ
            };

            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.type === "send_welcome_board") {
                    console.log("📡 New data received:", data);

                    // รีเฟรชตารางใหม่ด้วยข้อมูลล่าสุด
                    updateGuestTable(data.path);
                }
            }

            function updateGuestTable(guests) {
                let tableBody = $("#tb tbody");
                tableBody.empty(); // ล้างของเก่า
                

                guests.forEach((guest, index) => {
                    let editBtn = "";
                    let statusBadge = `<span class="badge text-bg-secondary fs-4">Unknown</span>`;
                    if (guest.status?.value === 1) {
                        statusBadge = `<span class="badge text-bg-warning fs-4">Waiting</span>`;
                        editBtn = `<a href="/wb/gs/edit/${guest.id}" class="btn btn-info">
                                        <i class="bi bi-pencil"></i>
                                    </a>`;
                    } else if (guest.status?.value === 2) {
                        statusBadge = `<span class="badge text-bg-success text-white fs-4">Show</span>`;
                        editBtn = `<a href="/wb/gs/edit/${guest.id}" class="btn btn-info">
                                        <i class="bi bi-pencil"></i>
                                    </a>`;
                    } else if (guest.status?.value === 3) {
                        statusBadge = `<span class="badge text-bg-secondary fs-4">Showed</span>`;
                    } else {
                        statusBadge = `<span class="badge text-bg-danger fs-4">Unknown</span>`;
                    }
                    let img = `${guest.path}`+"?t=" + new Date().getTime();
                    fullName = guest.updateBy ? guest.updateBy.fullNameEN : guest.createBy.fullNameEN;
                    tableBody.append(`
                        <tr>
                            <td>${index + 1}</td>
                            <td>${guest.title}</td>
                            <td>
                                <a href="#" class="g-img" data-img="${guest.path}">
                                    <img src="${img}" alt="..." class="img-fluid img-thumbnail w-50" />
                                </a>
                            </td>
                            <td>${fullName}</td>
                            <td>${strUTCDateToStrThaiDate(guest.sDate)}</td>
                            <td>${strUTCDateToStrThaiDate(guest.eDate)}</td>
                            <td>${statusBadge}</td>
                            <td>
                                <div>
                                    ${editBtn}
                                    <button type="button" class="btn btn-danger delete" data-wgid="${guest.id}" onclick='delClick(this);'>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    `);
                });

                $(".g-img").click(function(e){
                    e.preventDefault();
                    const img = $(e.currentTarget).data('img');
                    Swal.fire({
                        imageUrl: img,
                        width: 1000,
                        showConfirmButton: false
                    });
                });
            }
            

        });
        function delClick(el){
            console.log($(el));
            Swal.fire({
                title: "Do you want to delete ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f97316",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            }).then((result)=>{
                if(result.isConfirmed){
                    console.log('confirm');
                    Loading(true);
                    const settings = {
                        url: window.location.origin + window.location.pathname + "delete/" + $(el).data('wgid'),
                        method: "GET",
                    }
                    $.ajax(settings)
                    .done((response)=>{
                        Loading(false);
                        if(response.deleted == true){
                            PopMessage("Delete success", "success", true);
                        }else{
                            PopMessage(response.message, "error");
                        }
                    })
                    .fail((xhr, status, error)=>{
                        Loading(false);
                        console.error("เกิดข้อผิดพลาด: " + status + " - " + error);
                        PopMessage(error, "error");
                    });
                }
            });
        }
        
        
        $(".delete").click(function(e){
            e.preventDefault();
            Swal.fire({
                title: "Do you want to delete ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f97316",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            }).then((result)=>{
                if(result.isConfirmed){
                    console.log('confirm');
                    Loading(true);
                    const settings = {
                        url: window.location.origin + window.location.pathname + "delete/" + $(e.currentTarget).data('wgid'),
                        method: "GET",
                    }
                    $.ajax(settings)
                    .done((response)=>{
                        Loading(false);
                        if(response.deleted == true){
                            PopMessage("Delete success", "success", true);
                        }else{
                            PopMessage(response.message, "error");
                        }
                    })
                    .fail((xhr, status, error)=>{
                        Loading(false);
                        console.error("เกิดข้อผิดพลาด: " + status + " - " + error);
                        PopMessage(error, "error");
                    });

                }
            });
        });
        
    </script>
{% endblock %}