{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>User</title>{% endblock %}
{% block css %}
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<div>
    <span class="fw-bold">Position</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List Position</h3>
                        <p class="text-sm mb-0">List of Position</p>
                    </div>
                    {% if isOrgAdmin == True or request.currentUser.isAdmin == True or canModify == True %}
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <a href="{% url 'addPosition' %}" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add Position</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tb" class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name (TH)</th>
                                        <th>Name (EN)</th>
                                        <th>Parent</th>
                                        <th>Status</th>
                                        {% if isOrgAdmin == True or request.currentUser.isAdmin == True or user.id == request.currentUser.id or canModify == True %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pos in positions %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ pos.code|default:'-' }}</td>
                                        <td>{{ pos.nameTH|default:'-' }}</td>
                                        <td>{{ pos.nameEN }} ({{pos.shortName|default:'-'}})</td>
                                        <td>{{ pos.parent.nameEN|default:"-" }}</td>
                                        <td>
                                            {% if pos.isActive %}
                                            <span class="badge text-bg-success text-white">Active</span>
                                            {% else %}
                                            <span class="badge text-bg-danger text-white">Inactive</span>
                                            {% endif %}
                                        </td>
                                        {% if isOrgAdmin == True or request.currentUser.isAdmin == True or user.id == request.currentUser.id or canModify == True %}
                                        <td>
                                            <div>
                                                <a href="{% url 'editPosition' pos.id %}" class="btn btn-info">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <button type="button" class="btn btn-danger delete" data-posid="{{ pos.id }}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
        <script type="text/javascript">
            $(document).ready(function(){
                const mssTag = "{{message.tags}}";
                const mssMsg = "{{message}}";
                PopMessage(mssMsg, mssTag);
            });
        </script>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("pos");
            $('#tb').DataTable({
                columnDefs: [
                    // { width: '10%', targets: 0 },
                ]
            });

        });
        $('.delete').click(function(e){
            e.preventDefault();
            Swal.fire({
                title: "Do you want to delete ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f97316",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            }).then((result)=>{
                if(result.isConfirmed){
                    Loading(true);
                    const settings = {
                        url: window.location.origin + window.location.pathname + "delete/" + $(e.currentTarget).data('posid'),
                        method: "GET",
                    }
                    $.ajax(settings).done((response)=>{
                        Loading(false);
                        if(response.deleted == true){
                            PopMessage("Delete success", "success", true);
                        }else{
                            PopMessage(response.message, "error");
                        }
                    }).fail((xhr, status, error)=>{
                        Loading(false);
                        PopMessage(error, "error");
                    });
                }
            });
        });
    </script>
{% endblock %}