{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Car Schedule</title>{% endblock %}
{% block breadcrumb %}
<div>
    <span>Car Schedule / </span><span class="fw-bold">Add Car</span>
</div>
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-9 col-12 mx-auto">
        <div class="card">
            <form method="post" class="card-body mb-3" novalidate>
                {% csrf_token %}
                <h3>Add Car</h3>
                <p class="text-sm">create new car</p>
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <label for="brand" class="form-label fw-bold text-dark-emphasis">Brand</label>
                            <input type="text" class="form-control" id="brand" name="brand" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="model" class="form-label fw-bold text-dark-emphasis">Model</label>
                            <input type="text" class="form-control" id="model" name="model" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <label for="licenseno" class="form-label fw-bold text-dark-emphasis">License No.</label>
                            <input type="text" class="form-control" id="licenseno" name="licenseno" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-8 col-sm-12">
                            <label for="note" class="form-label fw-bold text-dark-emphasis">Note</label>
                            <textarea id="note" name="note" class="form-control" style="height: 100px;"></textarea>
                        </div>
                    </div>
                    <div class="row float-end">
                        <div class="col-12">
                            <a href="{% url 'indexCar' %}" class="btn btn-light">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    
    <script type="text/javascript">
        (function () {
            'use strict';
            document.querySelector('form').addEventListener('submit', function (event) {
                Loading(true);
                if (!this.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    Loading(false);
                }
                this.classList.add('was-validated');
                
            }, false);
        })();
        $(document).ready(()=>{
            ActiveMenu("car");
        });
    </script>
{% endblock %}