{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Visitor</title>{% endblock %}
{% block css %}
<style>
    .hr-dot{
        border-top: dotted 1px;
    }
</style>
{% endblock %}
{% block breadcrumb %}
<div>
    <span>Visitor /</span><span class="fw-bold">Add Visitor</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-9 col-12 mx-auto">
        <div class="card">
            <form method="post" class="card-body mb-3" novalidate>
                <h3>Add Visitor</h3>
                <p class="text-sm">create new booking</p>
                <!-- <hr /> -->
                {% csrf_token %}
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="sdate" class="form-label fw-bold text-dark-emphasis">Start Date</label>
                            <input type="text" class="form-control" id="sdate" name="sdate" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                        <div class="col-6">
                            <label for="edate" class="form-label fw-bold text-dark-emphasis">End Date</label>
                            <input type="text" class="form-control" id="edate" name="edate" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-4">
                            <label for="room" class="form-label fw-bold text-dark-emphasis">Room</label>
                            <select id="room" name="room" class="form-select">
                                <option value="">Select Room</option>
                                <option value="1">Room 1</option>
                                <option value="2">Room 2</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <label for="topic" class="form-label fw-bold text-dark-emphasis">Topic</label>
                            <input type="text" class="form-control" id="topic" name="topic" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <label for="option" class="form-label fw-bold text-dark-emphasis">Option</label>
                            <select id="option" name="option" class="form-select">
                                <option value="">Select Option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <hr class="mt-5 hr-dot">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label fw-bold text-dark-emphasis">Guest</label>
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-5">
                                    <input type="text" class="form-control" placeholder="guest company" />
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <input type="text" class="form-control" placeholder="guest name" />
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <button type="button" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-success">
                                        <i class="bi bi-plus-circle-fill"></i>
                                        <span>Add Guest</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-5 hr-dot">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label fw-bold text-dark-emphasis">SKT Employee</label>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-success">
                                        <i class="bi bi-plus-circle-fill"></i>
                                        <span>Add Employee</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-5 hr-dot">
                    <div class="row float-end">
                        <div class="col-12">
                            <a href="{% url 'indexVisitor' %}" class="btn btn-light">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("visitor");
        });
    </script>
{% endblock %}