{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Visitor Option</title>{% endblock %}
{% block breadcrumb %}
<div>
    <span>Option /</span><span class="fw-bold">Add Option</span>
</div>
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-9 col-12 mx-auto">
        <div class="card">
            <form method="post" class="card-body mb-3" novalidate>
                <h3>Add Option</h3>
                <p class="text-sm">create new option</p>
                <!-- <hr /> -->
                {% csrf_token %}
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="option" class="form-label fw-bold text-dark-emphasis">Option</label>
                            <input type="text" class="form-control" id="option" name="option" required />
                            <div class="invalid-feedback">Please input data</div>
                        </div>
                        
                    </div>
                    <div class="row float-end">
                        <div class="col-12">
                            <a href="{% url 'listOption' %}" class="btn btn-light">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("option");
        });
    </script>
{% endblock %}