{% extends 'layout.html' %}
{% load static %}
{% block title %}<title>Visitor</title>{% endblock %}
{% block breadcrumb %}
<div>
    <span>Visitor / </span><span class="fw-bold">List</span>
</div>
{% endblock %}
{% block css %}
    
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">Search Panel</h3>
                    </div>  
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-sm-12 col-lg-3">
                                <label for="sdate" class="form-label fw-bold text-dark-emphasis">Start Date</label>
                                <input type="text" id="sdate" name="sdate" class="form-control">
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <label for="edate" class="form-label fw-bold text-dark-emphasis">End Date</label>
                                <input type="text" id="edate" name="edate" class="form-control">
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <label for="room" class="form-label fw-bold text-dark-emphasis">Room</label>
                                <select id="room" name="room" class="form-select" data-placeholder="select room">
                                    <option></option>
                                    {% for room in rooms %}
                                        <option value="{{ room.id }}">{{ room.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 col-lg-3 text-end">
                                <button id="clear" type="button" class="mt-4 btn text-decoration-underline">
                                    <span class="btn-spinner d-none"></span>
                                    <span>Clear All</span>
                                </button>
                                <button id="search" type="button" class="mt-4 btn btn-primary">
                                    <span class="btn-spinner d-none"></span>
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <div class="d-lg-flex">
                    <div>
                        <h3 class="mb-0">List Visitor</h3>
                        <p class="text-sm mb-0">
                            List of Visitor
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <a href="{% url 'addVisitor' %}" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                                <span>Add Visitor</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tb" class="table">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Room</th>
                                        <th>SKT Member</th>
                                        <th>Book By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="detail" class="card d-none">
    <div class="card-body row mb-3">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 mb-3 mb-lg-0 text-start">
                    <span class="fw-bold">Topic</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="topic"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Start Date</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="startdate"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">End Date</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="enddate"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Location</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="roomDetail"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Guest Company</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="gcom"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Guest Name</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="gname"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">SKT Member</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="member"></span>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Options</span>
                </div>
                <div id="ops" class="col-lg-8 col-sm-12 text-lg-end text-start">
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12 text-start mb-3 mb-lg-0">
                    <span class="fw-bold">Booking By</span>
                </div>
                <div class="col-lg-8 col-sm-12 text-lg-end text-start">
                    <span id="bookby"></span>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    
    <script type="text/javascript">
        var table;
        $(document).ready(() => {
            ActiveMenu("vstlist");
            initialDatePk(document.getElementById("sdate"));
            initialDatePk(document.getElementById("edate"));
            table = $('#tb').DataTable({
                ajax: {
                    url: window.location.origin + "/vst/api/filter/",
                    type: "POST",
                    contentType: "application/json",
                    headers: { "X-CSRFToken": getCSRFToken() },
                    data: function(d){
                        let sdate = $('#sdate').val();
                        let edate = $('#edate').val();
                        let room = $('#room').val();
                        return JSON.stringify({
                            sdate: sdate,
                            edate: edate,
                            room: room,
                            });
                    },
                    dataSrc: function(json) {
                        Loading(false);
                        if (!json.success) return [];
                        return json.data;
                    }
                },
                scrollX: true,          // ป้องกันตารางบีบแน่นเกินไป
                autoWidth: false,       // ปิดการคำนวณความกว้างอัตโนมัติ
                columnDefs: [
                    { width: "15%", targets: 0, className: "text-left align-middle" },   // Start Date
                    { width: "15%", targets: 1, className: "text-left align-middle" },   // End Date
                    { width: "15%", targets: 2, className: "text-left align-middle" },   // Room
                    { width: "15%", targets: 3, className: "text-left align-middle" },   // SKT Member
                    { width: "15%", targets: 4, className: "text-left align-middle" },   // Book By
                    { width: "15%", targets: 5, className: "text-center align-middle" }  // Action
                ],
                columns: [
                    { 
                        data: 'data',
                        render: function(data, type, row, meta) {
                            const date = new Date(data.sDate);
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const day = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${day} ${hour}:${minute}`;
                        }
                    },
                    { 
                        data: 'data',
                        render: function(data, type, row, meta) {
                            const date = new Date(data.eDate);
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const day = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${day} ${hour}:${minute}`;
                        }
                    },
                    { 
                        data: 'data',
                        render: function(data, type, row, meta) {
                            return data.room.name;
                        }
                    },
                    { 
                        data: 'data',
                        render: function(data, type, row, meta) {
                            return data.sktMember ? data.sktMember : "-";
                        }
                    },
                    { 
                        data: 'data',
                        render: function(data, type, row, meta) {
                            return data.createBy.fullNameEN;
                        }
                    },
                    { 
                        data: 'data',
                        render: function(data, type, row) {
                            el = `
                            <button type="button" class="btn btn-secondary btn-sm m-1 btnView" onclick="viewDetail('${data.id}')">
                                <i class="bi bi-eye"></i>
                            </button>`;
                            if(row.canModify == true){
                                let url = `{% url 'editVisitor' 0%}`.replace("0", data.id);
                                el += `
                                <a href="${url}" class="btn btn-info btn-sm m-1">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm m-1 btnDelete" onclick="deleteVisitor('${data.id}')">
                                    <i class="bi bi-trash"></i>
                                </button>`;
                            }
                            return el;
                        }
                    },
                ],   
            });
        });
        $('#search').click(function(e){
            e.preventDefault();
            Loading(true);
            const sdate = $('#sdate').val();
            const edate = $('#edate').val();
            console.log(sdate, edate);
            const sdateTime = dateStrToDateTime(sdate);
            const edateTime = dateStrToDateTime(edate);
            console.log(sdateTime, edateTime);
            if(sdate && edate){
                if(sdateTime > edateTime){
                    alert('start must be less than end');
                    Loading(false);
                    return;
                }
            }
            
            table.ajax.reload();
        });
        $('#clear').click(function(e){
            e.preventDefault();
            Loading(true);
            $('#sdate').val('');
            $('#edate').val('');
            $('#room').val('');
            table.ajax.reload();
        });
        const deleteVisitor = async (id) =>{
            Swal.fire({
                title: "Do you want to delete ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f97316",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if(result.isConfirmed){
                    const vstid = id;
                    Loading(true);
                    const settings = {
                        url: window.location.origin  + "/vst/delete/" + vstid,
                        method: "GET",
                    }
                    $.ajax(settings).done((response) => {
                        Loading(false);
                        if(response.deleted == true){
                            PopMessage("Delete success", "success",true);
                        }else{
                            PopMessage(response.message, "error");
                        }
                        // calendar.refetchEvents();
                    }).fail((xjr, status, error) => {
                        Loading(false);
                        PopMessage(error, "error");
                        // calendar.refetchEvents();
                    });
                }
            });
            
        };
        const viewDetail = async (id) => {
            const vstid = id;
            const url = window.location.origin + "/vst/api/get/" + vstid;
            const apiData = await getAPIData(url);
            console.log(apiData);
            if(apiData){
                await initialDetailToHTML(apiData);
                Swal.fire({
                    title: `<p class="display-6">Visitor Booking Data</p>`,
                    // icon: "info",
                    imageWidth: 400,
                    imageHeight: 200,
                    html: $("#detail").html(),
                    showCloseButton: true,
                    showCancelButton: false,
                    showConfirmButton: false,
                    focusConfirm: false,
                    width:'40rem',
                });
            }
            
        };
        const initialDetailToHTML = async (info) =>{
            console.log(strUTCDateToStrThaiDate(info.sDate));
            $("#topic").text(info.topic);
            $("#startdate").text(strUTCDateToStrThaiDate(info.sDate));
            $("#enddate").text(strUTCDateToStrThaiDate(info.eDate));
            $("#roomDetail").text(info.room.name);
            $("#gcom").text(info.guestCompany ? info.guestCompany : "-");
            $("#gname").text(info.guestMember ? info.guestMember : "-");
            $("#member").text(info.sktMember ? info.sktMember : "-");
            $("#bookby").text(info.createBy.fullNameEN);
            $("#ops").empty();
            if(info.options && info.options.length > 0){
                const ops = info.options;
                $.each(ops, function(index, value){
                    if(index === (ops.length -1)){
                        $("#ops").append(`<span>${value.name}</span>`);
                    }else{
                        $("#ops").append(`<span>${value.name}, </span>`);
                    }
                });
            }else{
                $("#ops").append(`<span>-</span>`);
            }
        }
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }
        const dateStrToDateTime = (str) => {
            if(str){
                const parts = str.match(/(\d{2})\/(\d{2})\/(\d{4})/);
                return new Date(parts[3], parts[2]-1, parts[1]);
            }
        }
    </script>
{% endblock %}